* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: 
  border-box; 
}

body {
  background: #BBDEFB;
  margin: 0;
  padding: 0;
}

form {
  background: #EF5350;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 0;
  border-radius: 10px;
}

form input {
  font-size: 20px;
  padding: 15px;
  vertical-align: middle;
  width: 90%;
  border: 0;
  border-radius: 10px;
}

form button { 
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px black;
  vertical-align: middle;
  width: 10%;
  background: #EF5350;
  border: 0;
}

#username-button {
  font-size: 25px;
  color: #fff;
  width: 100%;
  text-shadow: 1px 1px black;
  border: 0;
  border-radius: 10px;
  background: #EF5350;
  padding: 15px;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  bottom: 0px;
  z-index: 1;
}

.messages-wrap {
  position: absolute;
  bottom: 70px;
  float: left;
  width: 70%;
  max-height: 90%;
  overflow: auto;
}

#messages {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

#messages li {
  padding: 5px 5px;
  margin: 5px;
  border-radius: 15px;
  background: #E6F2FD;
}

.users-wrap{
  position: absolute;
  right: 0;
  float: right;
  background: #BBDEFB;
  width: 30%;
}

#users {
  font-size: 20px;
  list-style-type: none;
  margin: 5px;
  overflow: auto;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}

#users li {
  color: #fff;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 10px;
  background: #EF5350;
}

.timestamp {
  font-weight: 100;
  color: #000;
}

.userid{
  font-weight: 100;
  color: #000;
}

.message {
  font-weight: 900;
  font-size: 25px;
}
